<div style="padding: 30px">
  <h3 class="first">Basic</h3>
  <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete>

  <hr>

  <h3>Dropdown</h3>
  <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)"
  [dropdown]="true"></p-autoComplete>

  <hr>

  <h3>Multiple selection</h3>
  <p-autoComplete [(ngModel)]="texts" [suggestions]="results" (completeMethod)="search($event)" [multiple]="true"></p-autoComplete>

  <hr>

  <h3>Single Object</h3>
  <p-autoComplete [(ngModel)]="val" [suggestions]="countrys" (completeMethod)="searchCountrys($event)" field="name"></p-autoComplete>

  <hr>

  <h3>Multiple Objects</h3>
  <p-autoComplete [(ngModel)]="vals" [suggestions]="countrys" (completeMethod)="searchCountrys($event)" field="name" [multiple]="true"></p-autoComplete>
  <br>
  What you selected: {{vals|json}}

  <hr>

  <h3>Single Templated Object</h3>
  <p-autoComplete [(ngModel)]="val" [suggestions]="countrys" (completeMethod)="searchCountrys($event)">
    <ng-template let-country pTemplate="item">
        {{country|countryInfo}}
    </ng-template>
  </p-autoComplete>
  <br>
  What you selected(json): {{val|json}}
  <br>
  The dropdown options can work with pipe, but the selected item cann't.

  <hr>

  <h3>Multiple Templated Objects</h3>
  <p-autoComplete [(ngModel)]="vals" [suggestions]="countrys" (completeMethod)="searchCountrys($event)" [multiple]="true">
    <ng-template let-country pTemplate="selectedItem">
        {{country|countryInfo}}
    </ng-template>
  </p-autoComplete>
  <br>
  What you selected(json): {{vals|json}}
  <br>
  The dropdown options can not work with pipe, but the selected item can.

  <hr>

  <h3>Multiple Templated Objects(suggestions with pipe)</h3>
  <p-autoComplete [(ngModel)]="vals" [suggestions]="countrys" (completeMethod)="searchCountriesWithPipe($event)" field="displayData" [multiple]="true"></p-autoComplete>
  <br>
  What you selected(json): {{vals|json}}

  <hr>

</div>
